html{
    overflow: hidden;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.full-screen{
    position: relative;
    min-height: 90vh;
    max-height: 90vh;
}

.full-screen::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background: url('img/hexagon_bg.png') no-repeat;
    opacity: 0.2;
    background-size: 100%;
    width: 300px;
    height: 300px;
}

.full-screen::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    background: url('img/hexagon_bg.png') no-repeat;
    opacity: 0.2;
    background-size: 100%;
    width: 300px;
    height: 300px;
}

.fab{
    font-size: 2.5rem;
    color: #364F6B;
    opacity: 0.8;
    transition: all 0.4s linear;
}

.fab:hover{
    opacity: 1;
}

.cooming-soon{
    font-size: 1.5rem;
    font-weight: bold;
}

.so-contact-us{
    font-size: 1rem;
}

.footer{
    min-height: 10vh;
    max-height: 10vh;
    background-color: #364f6b;
    color: white;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}